# 1章まとめ

- case式はどこにでもかける

In [1]:
import psycopg2
from psycopg2  import extras
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

DATABASE = 'postgresql'
USER = 'root'
PASSWORD = 'root'
HOST = 'postgres' # shared-networkに所属しているpostgres containerを指定できる
PORT = '5432'
DB_NAME = 'sandbox'

CONNECT_STR = '{}://{}:{}@{}:{}/{}'.format(DATABASE, USER, PASSWORD, HOST, PORT, DB_NAME)
engine = create_engine(CONNECT_STR)

conn = engine.connect()
res = conn.execute("select datname, datdba, encoding, datcollate, datctype from pg_database;")

for row in res:
    print(row)

('postgres', 10, 6, 'ja_JP.UTF-8', 'ja_JP.UTF-8')
('sandbox', 10, 6, 'ja_JP.UTF-8', 'ja_JP.UTF-8')
('template1', 10, 6, 'ja_JP.UTF-8', 'ja_JP.UTF-8')
('template0', 10, 6, 'ja_JP.UTF-8', 'ja_JP.UTF-8')

In [2]:
# 1-1

# create table
tablename = 'ch001_greatests'

q1 = "SELECT * FROM information_schema.tables WHERE table_name = '{}';".format(tablename)
res = conn.execute(q1)

q2 = """
CREATE TABLE  {} (
    key varchar(256) NOT NULL,
    x integer NOT NULL,
    y integer NOT NULL,
    z integer NOT NULL
);
""".format(tablename)

if sum(1 for _ in res) == 0:
    print("create")
    conn.execute(q2)
    res = conn.execute(q1)
    sum(1 for _ in res)

# insert data
data = (
    ('A', 1, 2, 3),
    ('B', 5, 5, 2),
    ('C', 4, 7, 1),
    ('D', 3, 3, 8),
)

conn.execute("DELETE FROM {};".format(tablename))

metadata = MetaData()
tbl = Table(tablename, metadata,
            Column('key', String),
            Column('x', Integer),
            Column('y', Integer),
            Column('z', Integer),
           )

for i in data:
    ins = tbl.insert().values(key=i[0], x=i[1], y=i[2], z=i[3])
    conn.execute(ins)

res = conn.execute("SELECT * FROM {};".format(tablename))
for i in res:
    print(i)

q = f"""
select
    key,
    case when x > y then x else y end
from {tablename};
"""

print(q)

res = conn.execute(q)
for i in res:
    print(i)

q = f"""
select
    key,
    case when x > y then x else (
        case when y > z then y else z end
    ) end
from {tablename};
"""

print(q)

res = conn.execute(q)
for i in res:
    print(i)

('A', 1, 2, 3)
('B', 5, 5, 2)
('C', 4, 7, 1)
('D', 3, 3, 8)

select
    key,
    case when x > y then x else y end
from ch001_greatests;

('A', 2)
('B', 5)
('C', 7)
('D', 3)

select
    key,
    case when x > y then x else (
        case when y > z then y else z end
    ) end
from ch001_greatests;

('A', 3)
('B', 5)
('C', 7)
('D', 8)

In [3]:
# 1-2 poptbl2を実行する

tablename = 'x002_poptbl2'

q = f"""
select sex,
    sum(population) as 全国,
    sum(case when pref_name = '徳島' then population else 0 end) as 徳島,
    sum(case when pref_name = '香川' then population else 0 end) as 香川,
    sum(case when pref_name = '愛媛' then population else 0 end) as 愛媛,
    sum(case when pref_name = '高知' then population else 0 end) as 高知,
    sum(case when (
        pref_name = '徳島' or
        pref_name = '香川' or
        pref_name = '愛媛' or
        pref_name = '高知'
    ) then population else 0 end) as 四国
from {tablename}
group by sex;
"""

print(q)

res = conn.execute(q)
for i in res:
    print(i)

select sex,
    sum(population) as 全国,
    sum(case when pref_name = '徳島' then population else 0 end) as 徳島,
    sum(case when pref_name = '香川' then population else 0 end) as 香川,
    sum(case when pref_name = '愛媛' then population else 0 end) as 愛媛,
    sum(case when pref_name = '高知' then population else 0 end) as 高知,
    sum(case when (
        pref_name = '徳島' or
        pref_name = '香川' or
        pref_name = '愛媛' or
        pref_name = '高知'
    ) then population else 0 end) as 四国
from x002_poptbl2
group by sex;

(2, 845, 40, 100, 50, 100, 290)
(1, 855, 60, 100, 100, 100, 360)

In [4]:
# 1-3
# 飛ばす